In [1]:
import pandas as pd

In [2]:
df_tweets=pd.read_csv('tweets2.csv')

C:\Users\bumst\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,2,3,6,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_tweets.created_at=pd.to_datetime(df_tweets.created_at,errors='ignore')

In [4]:
df_tweets.head()

,Unnamed: 0,created_at,favorite_count,favorited,id,retweet_count,retweeted,screen_name,text,user_id,tweet_clean,polarity,subjectivity
0,0,2008-08-04 17:28:51,0,False,877418565.0,0.0,False,JohnBoozman,On a conference call about a weekend trip to I...,5558312.0,on a conference call about a weekend trip to i...,0.000000,0.000000
1,1,2008-08-06 19:04:45,0,False,879618172.0,0.0,False,JohnBoozman,Being interviewed by KTHV,5558312.0,being interviewed by kthv,0.000000,0.000000
2,2,2008-08-06 20:35:36,0,False,879695803.0,0.0,False,JohnBoozman,Being interviewed by KARN on his Arkansas Worl...,5558312.0,being interviewed by karn on his arkansas worl...,-0.100000,0.100000
3,3,2008-08-07 13:52:52,0,False,880393665.0,0.0,False,JohnBoozman,"On KWHN in Fort Smith, that's 1320 AM",5558312.0,on kwhn in fort smith that s 1320 am,0.000000,0.000000
4,4,2008-08-07 15:12:05,0,False,880474266.0,0.0,False,JohnBoozman,Attending a Military of the Purple Heart Cerem...,5558312.0,attending a military of the purple heart cerem...,-0.066667,0.066667

In [15]:
df_tweets.dtypes

created_at         object
favorite_count    float64
favorited          object
id                float64
retweet_count     float64
retweeted          object
screen_name        object
text               object
user_id           float64
dtype: object

In [5]:
import psycopg2

In [6]:
conn = psycopg2.connect(
    host="localhost",
    database="capstone",
    user="postgres",
    password="postgres")

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/capstone')

In [11]:
df_tweets.to_sql('tweets2',con=engine,index=False)

In [31]:
df_users=pd.read_csv('/users/bumst/code/sql_capstone/users.csv')

In [32]:
df_users.to_sql('users',con=engine,index=False)

In [33]:
print('done')

done